@import 'variables';
@import 'mixins';

body {
  .tracking_circle {
    position: fixed; // Keep it fixed
    display: flex;
    height: 15px; // Match the height of .circle
    width: 15px; // Match the width of .circle
    border-radius: 50%;
    background-color: white;
    opacity: 0.75;
    z-index: 2;
    transform: translate(30%, 29%);
  }

  background-color: black;
  // border: 5px solid #FF0000; // bright red border

  .content {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0%, rgba(200, 63, 88, 0.25) 50%, rgba(242, 125, 51, 0.25) 100%);
    background-color: black;
    width: 100svw;
    height: 400svh;
  
    .nav {
      position: absolute; // or 'fixed' if you want it to stay in place on scroll
      right: 0; // Align to the right side of the screen
      top: 0;
      height: 100vh; // Full height of the viewport
      width: 1px; // Width of the nav line
      padding-right: 5%;
      padding-top: 5%;

      .mark2 {
        // border: 1px solid yellow;
        display: flex;
        align-items: center;
        width: 150px;
        gap: 15px;
        transform: translate(-65%, 1455%);
        position: absolute;
        z-index: 1;
        p {
          @include paragraph-lg;
          color: white;
        }     
      }
      
      .circle2 {
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: black;
        border: 2px solid white;
        opacity: 0.8;
        // Adjust the translate value to position the element correctly
        transform: translateX(0%);
        z-index: 1;
      }

      .marks {
        display: flex;
        align-items: center;
        // border: 5px solid #FFD700; // yellow border
        gap: 25px;
        position: absolute;
        transform: translate(-75%, -72.5%);
        z-index: 1;
        p {

          @include paragraph-lg;
          color: white;
        }
      }
    
      .line {
        height: 380%;
        width: 100%;
        background-color: white;
        opacity: .5;
        z-index: -1;
      }

      .circle {
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: black;
        border: 2px solid white;
        opacity: 0.5;
        transform: translateX(-45%);
        z-index: 1;
      }
    }

    @media (max-width: 1080px) {
      .nav {
        padding-top: 19%;
        padding-right: 10%;
      }
    }

    @media (max-width: 1080px) {
      #am {
        transform: translateX(0px);
      }
    }

    .home {
      padding: 100px;
      // border: 5px solid #FFD700; // eyellow border

      h2 {
        @include title-md;
        margin-top: 0;
        margin-bottom: 0;
        width: auto;
        padding: 20px;
        color: white;
        display: inline-block;
      }

      p {
        @include paragraph-lg;
        color: white;
        float: right;
        transform: translateY(-110%);
        margin: 0;
      }

      #hey {
        transform: translateX(-2.5%);
        margin-bottom: 15px;
      }
      #am {
        transform: translateX(500px);
      }

      @media (max-width: 1080px) {
        #am {
          transform: translateX(0px);
        }
      }

      @keyframes fadeInOutTopBottom {
        0% {
          opacity: 0;
          transform: translateY(15%);
        }
        25% {
          opacity: 1;
          transform: translateY(25%);
        }
        75% {
          opacity: 1;
          transform: translateY(25%);
        }
        100% {
          opacity: 0;
          transform: translateY(35%);
        }
      }
      
      .animated-word {
        animation: fadeInOutTopBottom 2.4s linear infinite;
        display: inline-block;
        overflow: hidden;
      }
      #changingrad {
        background: linear-gradient(45deg, #F27D33, #C83F58); 
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
      }

      h1 {
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;
        @include title-xl;
        background-image: linear-gradient(
            -225deg,
            $secondary-color 0%,
            $primary-color 100%,
        );
        background-size: auto auto;
        background-clip: border-box;
        background-size: 200% auto;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: textclip 3s linear infinite;
      }
      @keyframes textclip {
        from {
          background-position: 100% center;
        }
        to {
          background-position: -100% center;
        }
      }

      .more {

        margin-top: 75px;
        display: flex;
        align-items: center;

        h3 {
          @include title-sm;
          color: white;
          display: inline-block;
        }

        span {
          background-image: linear-gradient(45deg, #F27D33, #C83F58);
          -webkit-background-clip: text;
          background-clip: text;
          color: transparent;
          font-size: 96px;
          animation: bounce 1.8s linear infinite;
        }

        @keyframes bounce {
          0%, 100% {
            transform: translateY(-5%);
          }
          25% {
            transform: translateY(5px);
          }
          50% {
            transform: translateY(-5%);
          }
          75% {
            transform: translateY(5px);
          }
        }

        @media (max-width: 1080px) {
          span {
            font-size: 48px;
          }
        }
      }

      @media (max-width: 1080px) {
        h2 {
          @include title-xs;
          padding: 0px;
        }
        h1 {
          @include title-md;
          text-align: left;
        }
        
      }
    }
    @media (max-width: 1080px) {
      .home {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 50px;
        padding-bottom: 50px;
      }
    }

    .about {

      // border: 1px solid yellow;
      height: 100vh;
      width: 100vw;
      display: flex;
      align-items: center;
      padding: 0;

      .title {
        @include title-md;
        color: white;
        // border: 1px solid yellow;
        transform: rotate(-90deg);
        transform-origin: left top center;
        margin-left: -1%;
        margin-right: -4%;
      }

      .grid-container {
        // border: 1px solid yellow;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 20px;
        position: relative;
        width: 70%;
        height: 80%;
                
        .grid-item {
          width: 100%;
          height: 100%;
          overflow: hidden;
          color: white;
          border-radius: 30px;
          background-color: transparent;
          position: relative;
          opacity: 9;
          border: .5px solid rgba(255, 255, 255, 0.15); // Set the border opacity to .5
          z-index: 1;
          background: linear-gradient(to bottom right, rgba(242, 125, 51, 0.3), rgba(200, 63, 88, 0.3) 60%);
          background-attachment: fixed; // This will give the illusion of a continuous gradient across items
          box-shadow: 0px 8px 12px rgba(0, 0, 0, .15);
        }

        .grid-content {
          
          padding: 12.5%;
          overflow: hidden;
          // border: 1px solid yellow;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            width: 85%;
            border-radius: 50%;
          }

          h1 {  

            color: black;
            @include title-sm;
            font-weight: 300;
          }

          div {

            overflow: hidden;
            background-image: url('../public/blackfolder.png'); /* Use the PUBLIC_URL placeholder */
            background-size: cover; /* Cover the entire space of the element */
            background-position: center; /* Center the image */
            background-repeat: no-repeat; /* Do not repeat the image */
            // border: 1px solid yellow;
            width: 100%;
            height: 100%;
            border-radius: 20px;

            ul {

              list-style-type: square;
              padding: 10;
              padding-top: 20%;
              opacity: .75;

              li {
                @include paragraph-md;
                text-transform: uppercase;
              }
            }
          }

          .gradientName {

            font-weight: 600;
            background-image: linear-gradient(to right, $primary-color, $secondary-color, $primary-color, $secondary-color, $primary-color, $secondary-color);
            -webkit-background-clip: text; 
            background-clip: text; 
            color: transparent;
            background-size: 500%;
            background-position: -1000%;  
            animation: animatedText 100s infinite;
          }

          @keyframes animatedText {
            to {
              background-position: 1000%; 
            }
          }

          .bold {

            color: white;
            opacity: .75;
            font-weight: bold;
          }
        }

        .verticalContentTop {

          margin-top: 17.5%;

        }

        .verticalContentBottom {

          margin-bottom: 17.5%;
        }

        .horizantalContentLeft {

          padding-left: 17.5%;
        }

        .horizantalContentRight {

          padding-right: 25%;
          text-align: right;

        }

        .vertical {
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: repeat(2, 1fr);
        }

        .horizantal {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: 1fr;
        }

        #item1 {
          grid-row: 1 / span 2;
          grid-column: 1;
          background-color: black;
        }
        #item2 {
          grid-column: 2 / span 2;
          grid-row: 1;
          background-color: black;
        }
        #item3 {
          grid-row: 1 / span 2;
          grid-column: 4;
          background-color: black;
        }
        #item4 {
          grid-column: 2 / span 2;
          grid-row: 2;
          background-color: black;
        }
        #item5 {
          grid-column: 1 / span 2;
          grid-row: 3;
          background-color: black;
        }
        #item6 {
          grid-column: 3 / span 2;
          grid-row: 3;
          background-color: black;
        }
      }
    }
  }
}
